/* CARD */
.background {
  background-image: url('./background.jpg');
  background-position: center;
  background-size: cover;
}
.txt {
 color: white;
 text-align: center;
 padding-top: 150px;
}

.container{
  text-align: center;
}
.col-md-4 h4{
  text-align: center;
}
